h1 {       
      color: turquoise;
}
h3 {       
      color: mediumturquoise;
}
body {
      background-color: WhiteSmoke;
}

h3 {
      font-family: 'Quicksand', sans-serif;
}
p {
      font-family: 'Montserrat', sans-serif;
}
img {
      width: 35%;
      height: auto;
}
